  <h1>Sign up</h1>

    <%= form_with(model: @user, local: true) do |f| %>
       <% if @user.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
      <% end %>
      <p>
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :password_confirmation, 'Confirmation' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </p>
      <p>
      <%= f.submit 'Sign up' %>
      </p>
      <p>
        <%= link_to 'login here', login_path %>
      </p>
    <% end %>